<!-- <h1>SERVICES</h1> -->
<!-- <p>{{data.age}}</p>
<p>{{addr.address}}</p> -->
<!-- <ul>
    <li *ngFor="let i of userrs">
        {{i.name}}
    </li>
</ul> -->

<!-- <form #uform="ngForm" (ngSubmit)="getData(uform.value)">


    <input type="text" ngModel name="name">
    <br>
    <br>
    <input type="text" ngModel name="age">
    <br>
    <br>
    <input type="text" ngModel name="gender">
    <br>
    <br>
    <button>submit Data</button>



</form> -->

<div *ngIf="alert" class="alert alert-success w-25 m-auto text-center alert-dismissible fade show" role="alert">
    <strong>Success!</strong> User has been Added Successfully..!
    <button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<ng-template #editProfileModal let-modal>
    <div style="padding: 30px;">
        <h1 class="text-center mb-2 text-primary">Create Form</h1>
        <form #myForm="ngForm" (submit)="postData(myForm.value);onSubmit(); myForm.reset();">
            <div class="mb-3">
                <label class="form-label">Full Name</label>
                <input type="text" class="form-control" [(ngModel)]="userObj.name" name="name"
                    id="exampleFormControlInput1" placeholder="Enter Name">
            </div>
            <div class="mb-3">
                <label class="form-label">Mobile Number</label>
                <input type="string" class="form-control" [(ngModel)]="userObj.mobile" name="mobile"
                    placeholder="Enter no">
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" id="email" class="form-control" required email [(ngModel)]="userObj.email"
                    name="email" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" [(ngModel)]="userObj.password" name="password"
                    id="exampleFormControlInput1" placeholder="Password">
            </div>
            <div style="margin-top: 30px;" class="d-flex justify-content-center">
                <button type="button" type="submit" *ngIf="!isEdit" [disabled]="!myForm.valid"
                    class="btn btn-primary w-25 mx-2  text-light">Submit</button>
                <button type="button" type="submit" *ngIf="isEdit" class="btn btn-secondary w-25  text-light"
                    (click)="updateUser();">Update</button>
                <button type="button"   class="btn btn-danger w-25  text-light"
                    (click)="onSubmit()">Close</button>
            </div>
        </form>
    </div>
</ng-template>





<div class="container mt-2">
    <div class="py-4">
<button (click)=" openModal(editProfileModal)" class="btn mt-4 btn-success rounded-0">New User</button>

    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Full name</th>
                <th scope="col">Mobile</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of obj">
                <td>{{user.name}}</td>
                <td>{{user.mobile}}</td>
                <td>{{user.email}}</td>
                <td>{{user.password}}</td>
                <td><button (click)="edit(user)" class="btn btn-warning">Edit</button></td>
                <td><button (click)="deletUser(user)" class="btn btn-danger">Delete</button></td>

            </tr>

        </tbody>
    </table>

</div>