.heading{
    background: linear-gradient(rgb(106, 200, 251), rgb(88, 250, 212));
    padding: 80px;
}
.title{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 8px #969595;
}
.container{
    max-width: 800px;
}
.box{
    padding: 20px;
    background: white;
    margin-top: -30px;
}